<nav class="navbar navbar">

  <div class="navbar-brand">
    <mdb-icon class = "pelota" fas icon="volleyball-ball"></mdb-icon>
    <a class="titulo" routerLink="/"> Dini Cup</a>
  </div>


  <div class="navbar-nav-scroll">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="crear-equipo" mdbBtn color="white" outline="true" size="sm"
          class="align-middle waves-light" mdbWavesEffect type="button">Crear equipo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="crear-partido" mdbBtn color="white" outline="true" size="sm"
          class="align-middle waves-light" mdbWavesEffect type="button">Crear partido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="iniciar-partido" mdbBtn color="white" outline="true" size="sm"
          class="align-middle waves-light" mdbWavesEffect type="button">Iniciar partido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="tanteador" mdbBtn color="white" outline="true" size="sm"
          class="align-middle waves-light" mdbWavesEffect type="button">Cambiar marcadores</a>
      </li>
    </ul>
  </div>
</nav>