.container {
    margin-top: 2rem;
    max-width: 24rem;
}

.form-group {
    font-weight: bold;
}

.titulo {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding: 0.3rem;
}

.guardar {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
    color: black;
    background-color: white;

    /* background-color: #d9e9ff; */
}

.field {
    width: 90%;
}

.margen {
    margin-bottom: 1rem;
}

.escudo {
    margin-bottom: 1.4rem;
}

input {
    border-color: black;
}

.mat-form-field .placeholder {
    color: black;
}

.mat-focused .placeholder {
    color: darkblue;
    font-weight: bold;
}
