<div id="wrap">
  <div class="card container">
    <h1 class="titulo">Nuevo Equipo</h1>
    <form class="form">
      <mat-form-field class="field margen">
        <input matInput type="text" [formControl]="nombreFormControl" [(ngModel)]='equipo.nombre'
          [errorStateMatcher]="matcher" id="nombre" name="nombre" required>
        <mat-placeholder class="placeholder">Nombre</mat-placeholder>

        <mat-error *ngIf="noLlenoCampo(nombreFormControl)">
          <strong>
            El nombre no puede estar vacío
          </strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput type="text" [(ngModel)]='equipo.abreviatura' name="abreviatura" id="abreviatura">
        <mat-placeholder class="placeholder">Abreviatura</mat-placeholder>
      </mat-form-field>
      <div class="escudo">
        <label for="escudo">Escudo</label>
        <input type="file" class="form-control" id="escudo">
      </div>
      <mat-form-field class="field margen">
        <input matInput type="text" [formControl]="usuarioAsignadoFormControl" autocomplete="username"
          [(ngModel)]='usuario.username' [errorStateMatcher]="matcher" id="user" name="user" required>
        <mat-placeholder class="placeholder">Usuario Asignado</mat-placeholder>

        <mat-error *ngIf="noLlenoCampo(usuarioAsignadoFormControl)">
          <strong>
            El usuario asignado no puede estar vacío
          </strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="field margen">
        <input matInput type="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
          [(ngModel)]="plain" autocomplete="new-password" id="password" name="password" required>
        <mat-placeholder class="placeholder">Contraseña</mat-placeholder>

        <mat-error *ngIf="noLlenoCampo(passwordFormControl)">
          <strong>
            Debe ingresar contraseña
          </strong>
        </mat-error>
      </mat-form-field>
      <div class="guardar">
        <button type="submit" (click)="guardar()" [disabled]="hayErrores()" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
  <p>debug:</p>
  <ul *ngIf="isReady()">
    <li *ngFor="let eq of getEquipos()">
      {{ eq.nombre }}
    </li>
  </ul>
</div>